/* parent */
#one{
    background-color: yellow;
    width: 400px;
    height: 400px;
    margin: auto;
    /* text-align: center; */
    display: flex;
    flex-direction: column; /*children stack up */
    justify-content: center; /* vertically center */
    text-align: center; /* horizontal center text */
}

img{
    width: 70%;

    /* display: block;
    margin: auto; */
}

/* .container {
  display: flex;
  justify-content: center; 
  align-items: center;    
  height: 100vh;          
} */